
@{
    ViewBag.Title = "AddBaihoc";
    Layout = "~/Areas/Admin/Views/Shared/Index.cshtml";
}
@model WEBDKMH.Areas.Admin.Model.LesViewModel
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ThemGiangVien</title>
    <style>
        .form-container {
            width: 50%; /* Độ rộng của form */
            margin: auto; /* Căn giữa form */
            padding: 50px 10px 50px 140px; /* Khoảng cách giữa lề và nội dung trong form */
            border: 1px solid #ccc; /* Đường viền của form */
            border-radius: 10px; /* Bo tròn viền của form */
        }
    </style>
</head>
<body>
    <div class="form-container">
        <h2>Thêm Bài Học Mới</h2>

        @using (Html.BeginForm("AddMonHoc", "Baihoc", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(true)

            <div class="form-group">
                @Html.LabelFor(model => model.Tieude)
                @Html.TextBoxFor(model => model.Tieude, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Tieude)
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Describe)
                @Html.TextBoxFor(model => model.Describe, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Describe)
            </div>


            <div class="form-group">
                <label for="DanhMuc">Subject</label>
                @Html.DropDownList("Idsub", ViewBag.DanhMucList as SelectList, "Chọn Mon học...", new { @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Video)
                <input type="text" id="videoUrl" class="form-control" readonly>
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button" id="chooseVideoButton">Chọn video</button>
                </span>
            </div>
            <input type="file" id="video" name="video" style="display: none;" accept="video/*" />

            <button type="submit" class="btn btn-primary">Thêm Bài Học</button>}
    </div>
    <script>
        document.getElementById('chooseVideoButton').onclick = function () {
            document.getElementById('video').click();
        };

        document.getElementById('video').onchange = function (evt) {
            var tgt = evt.target || window.event.srcElement,
                files = tgt.files;

            // Hiển thị đường dẫn của tệp đã chọn
            document.getElementById('videoUrl').value = files[0].name;

            // Hiển thị trước video nếu có
            if (files && files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    // Assuming you have an element with id "previewVideo" to show the video preview
                    var videoElement = document.createElement('video');
                    videoElement.setAttribute('controls', '');
                    videoElement.setAttribute('width', '100%');
                    videoElement.setAttribute('height', 'auto');
                    videoElement.src = e.target.result;
                    document.getElementById('previewVideoContainer').innerHTML = '';
                    document.getElementById('previewVideoContainer').appendChild(videoElement);
                };

                reader.readAsDataURL(files[0]);
            }
        };
    </script>
    <div id="previewVideoContainer"></div>
</body>
</html>

