
@{
    ViewBag.Title = "SuaGiangVien";
    Layout = "~/Areas/Admin/Views/Shared/Index.cshtml";
}

@model WEBDKMH.Areas.Admin.Model.EditLecViewModel

<h2>@ViewBag.Title</h2>

<!DOCTYPE html>
<html>
<head>
    <style>
        .form-group {
            margin-bottom: 20px;
        }

            .form-group label {
                font-weight: bold;
            }

        .form-control {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .btn-primary {
            background-color: #007bff;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

            .btn-primary:hover {
                background-color: #0056b3;
            }
    </style>
</head>

@using (Html.BeginForm())
{

    <div class="form-group">
        @Html.LabelFor(model => model.Fullname)
        @Html.TextBoxFor(model => model.Fullname, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Fullname)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Email)
        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Email)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Address)
        @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Address)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Phone)
        @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Phone)
    </div>

    <button type="submit" class="btn btn-primary">Lưu</button>
}


